<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active disabled" [routerLinkActiveOptions]="{ exact: true }">Главная</a>
  <ul class="nav">
    <!-- Always visible -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/search" routerLinkActive="active disabled" [routerLinkActiveOptions]="{ exact: true }">Поиск</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/events" routerLinkActive="active disabled" [routerLinkActiveOptions]="{ exact: true }">События</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/vacancies" routerLinkActive="active disabled" [routerLinkActiveOptions]="{ exact: true }">Вакансии</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/companies" routerLinkActive="active disabled" [routerLinkActiveOptions]="{ exact: true }">Компании</a>
    </li>

    <!-- Only visible if logged in -->
    <ng-container *ngIf="authService.isLoggedIn$ | async">
      <li class="nav-item">
        <a class="nav-link" routerLink="/gorod" routerLinkActive="active disabled" [routerLinkActiveOptions]="{ exact: true }">Город</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/account" routerLinkActive="active disabled" [routerLinkActiveOptions]="{ exact: true }">Профиль</a>
    </ng-container>
  </ul>
</nav>
