/* Меняем цвет фона на голубой */
.custom-navbar {
  background-color: #00b0f0; /* голубой цвет */
}

/* Текст слева */
.left-text {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

/* Меню справа */
.navbar-nav.ml-auto {
  margin-left: auto;
}
