<!-- uneditable account -->
<div *ngIf="user" class="container mt-4">
    <h1>Вы просматриваете аккаунт без права редактирования</h1>
    <div>
      <h2>Имя, Фамилия: {{ user.first_name }} {{ user.last_name }}</h2>
      <p><strong>Логин: {{ user.username }}</strong></p>
      <p><strong>Электронная почта: {{ user.email }}</strong></p>

      <h3>Периоды обучения в школах</h3>
      <ul *ngIf="studentSchools.length > 0; else noSchoolData">
        <li *ngFor="let school of studentSchools">
          {{ school.name }} - {{ school.start_year }}, {{ school.finish_year }}, ушёл, так как {{ school.leave_reason }}
        </li>
      </ul>
      <ng-template #noSchoolData>
        <p>Нет сведений о периодах обучения в школах.</p>
      </ng-template>

      <h3>Периоды обучения в университетах</h3>
      <ul *ngIf="universities.length > 0; else noUniversityData">
        <li *ngFor="let university of universities; let i = index">
          {{ university.name }} - {{ studentUniversities[i].start_year }}, {{ studentUniversities[i].end_year }}, ушёл, так как {{ studentUniversities[i].leave_reason }}
        </li>
      </ul>
      <ng-template #noUniversityData>
        <p>Нет сведений о периодах обучения в университетах.</p>
      </ng-template>
    </div>
  </div>
