<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ student.username }}'s Universities</title>
</head>
<body>
    <h1>Universities of {{ student.username }}</h1>

    <h2>Associated Universities</h2>
    {% if universities %}
        <ul>
            {% for current_universitystudent in universitystudent %}
                <li>
                    {{ current_universitystudent.university.name }} - {{ current_universitystudent.start_year }}, {{ current_universitystudent.end_year }}, leave reason is {{ current_universitystudent.leave_reason }}
                    <a href="{% url 'edit_university_student' current_universitystudent.id %}">Edit</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ student.username }} is not associated with any universities.</p>
    {% endif %}
</body>
</html>