<!DOCTYPE html>
<html>
    <head>
        <title>Recommendations form</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <form action="/recommendations" method="get">
            {% for topic in topics %}
                <label for="t{{ topic.id }}">{{ topic.name }}</label><br>
                <input name="t{{ topic.id }}"><br>
            {% endfor %}
            <input type="submit">
        </form>
    </body>
</html>