<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Школы пользователя</title>
</head>
<body>
    <h1>Школы пользователя {{ username }}</h1>

    {% if student_schools %}
        <ul>
            {% for student_school in student_schools %}
                <li>
                    <h2>{{ student_school.school.name }}</h2>
                    <p>Страна: {{student_school.school.get_country_display }}</p>
                    <p>Описание: {{ student_school.school.desc }}</p>
                    <p>Год начала обучения: {{ student_school.start_year }}</p>
                    <p>Год окончания обучения: {{ student_school.finish_year }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У этого пользователя остутствует информация о школах</p>
    {% endif %}
</body>
</html>
