<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Школа пользователя</title>
</head>
<body>
    <h1>Школа пользователя {{ username }}</h1>

    {% if student_schools %}
        <ul>
            {% for student_school in student_schools %}
                <li>
                    <h2>{{ student_school.school.name }}</h2>
                    <p>Country: {{ student_school.school.country.name }}</p>
                    <p>Description: {{ student_school.school.description }}</p>
                    <p>Year of Admission: {{ student_school.start_year }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>This user has no info about school</p>
    {% endif %}
</body>
</html>
