<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Search Users</title>
</head>
<body>
    <h1>Search Users</h1>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    <h2>Results</h2>
    <ul>
        {% for user in users %}
            <li><a href="{% url "uneditable_account" user_id=user.id %}">{{ user.first_name }} {{ user.last_name }}</a></li>
        {% empty %}
            <li>No users found.</li>
        {% endfor %}
    </ul>
</body>
</html>