<!-- login component -->
<form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="container mt-5">
  <div class="mb-3">
    <label for="username" class="form-label">Username:</label>
    <input formControlName="username" id="username" name="username" required type="text" class="form-control">
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input formControlName="password" id="password" name="password" required type="password" class="form-control">
  </div>

  <div *ngIf="loginError" class="alert alert-danger">
    {{ loginError }}
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>
