<div class="upload-container">
    
    <input type="file" (change)="onFileSelected($event)" accept=".pdf" />
    
    <button (click)="uploadFile()" [disabled]="!selectedFile">
      Загрузить резюме
    </button>
</div>


<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="successModalLabel">Success</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          Файл успешно загружен! Обязательно перепроверьте валидность обновленных данных в вашем аккаунте. Программа может ошибиться.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">ОК</button>
        </div>
      </div>
    </div>
  </div>
  

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">Error</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          Ошибка загрузки файла. Попробуйте еще раз.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Ок</button>
        </div>
      </div>
    </div>
</div>