<!-- event-card.component.html -->
<div *ngIf="event; else loading" class="card event-card mb-4" (click)="goToEventDetails()">
  <img *ngIf="event.picture" [src]="env.mediaUrl + event.picture" alt="Event Picture" class="card-img-top" />
  <div class="card-body">
    <h5 class="card-title">{{ event.name }}</h5>
    <p class="card-text">{{ event.description }}</p>
    <p><strong>Дата:</strong> {{ formatDate(event.date) }}</p>
    <p><strong>Место:</strong> {{ event.location }}</p>
  </div>
</div>

<!-- loading -->

<ng-template #loading>
  <div class="text-center">
    <p>Загрузка...</p>
  </div>
</ng-template>
