<!-- our values -->
<div class="values-container container mt-5">
  <h2 class="values-title text-center mb-4">Наши ценности</h2>

  <p class="values-text lead text-center">
    Добро пожаловать на платформу, созданную летовцами для летовцев! Наша цель — объединить учеников и выпускников,
    помочь делиться опытом учёбы и работы, поддерживать связь и расти вместе, независимо от времени и расстояний.
  </p>

  <p class="values-text lead text-center">
    Мы разделяем ценности школы и призываем всех пользователей сайта быть открытыми и доброжелательными друг к другу.
  </p>
</div>
