<h1>Добро пожаловать на Letovo LinkedIn!</h1>
<div id="sign-in" *ngIf="!isAuthenticated">
  <button (click)="showLogin = true" class="btn btn-primary">Sign in</button>
  <div class="popup" *ngIf="showLogin">
    <div class="popup-content">
      <button (click)="showLogin = false" class="close-btn">x</button>
      <app-login (closeLoginPopup)="isAuthenticated = true"></app-login>
    </div>
  </div>
</div>
<!-- Main component -->
<section class="container mt-5">
  <section class="text-center mb-5">
    <h2 class="mb-3">Платформа для общения, обмена опытом и поиска возможностей</h2>
    <p class="lead">
      Объединяем выпускников Летово, учеников и компании для взаимной пользы.
    </p>
  </section>

  <!-- main 3 images -->
  <section class="row text-center">
    <div class="col-md-4 mb-4">
      <img ngSrc="assets/Community.jpg" alt="Network" class="img-fluid rounded-circle mb-3" [width]="300"
           [height]="300">
      <h3 class="h5">Общайтесь</h3>
      <p>Не теряйте связь с друзьями даже после выпуска</p>
    </div>

    <div class="col-md-4 mb-4">
      <img ngSrc="assets/Alumni.jpg" alt="Career Growth" class="img-fluid rounded-circle mb-3" [width]="300"
           [height]="300">
      <h3 class="h5">Развивайтесь</h3>
      <p>Добавляйте информацию про себя и получайте приглашения от компаний</p>
    </div>

    <div class="col-md-4 mb-4">
      <img ngSrc="assets/Friends.jpg" alt="Projects" class="img-fluid rounded-circle mb-3" [width]="300"
           [height]="300">
      <h3 class="h5">Помогайте</h3>
      <p>Делитесь опытом и помогайте ученикам Летово находить себя</p>
    </div>
  </section>

  <!-- Блоки с картой и инфой о сайте -->
  <app-map *ngIf="isAuthenticated"></app-map>
  <app-values></app-values>
  <app-about-site></app-about-site>

  <!-- Список компаний -->
  <section class="text-center mb-4">
    <h2>Список компаний</h2>
    <div class="row justify-content-center fw-bold">
      <div class="col-md-2">Название</div>
      <div class="col-md-3">Описание</div>
      <div class="col-md-2">Страна</div>
      <div class="col-md-2">Вакансии</div>
      <div class="col-md-3">Работники</div>
    </div>
  </section>
</section>
